*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    width: 60vw;
    height: 90px;
    margin: 0 auto;
}

header{
    list-style: none;
    background-color: rgb(255, 255, 255);
    margin: 0.4px auto;
}

.active{
    border: solid rgb(68, 0, 255) 2.4px;
}

nav{
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

nav > ul{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    gap: 20px;
}


nav > ul > li{
    height: 100%;
    width: 100%;

}

nav> ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}



article{
    width: 60vw;
    margin: 0 auto;
    padding: 45px;
    background-color: rgb(255, 255, 255);
    font-size: 100%;
}

img{
    width: 33%;
    height: 33%;
}

#page2foto2{
    width: 100%;
    height: 100%;
    transition: 0.4s transform;
    
}

.fotopagina2:hover{
    transform: scale(1.2);
}

#page2fotobeschrijfing1{
    display:block;
    width: 30%;

}

#page2fotobeschrijfing2{
    display: block;
    width: 30%;
    position: relative;
    left: 280px;
    bottom: 56px;
}

#page2fotobeschrijfing3{
    display: block;
    width: 30%;
    position: relative;
    left: 560px;
    bottom: 110px;
}

#dagboek{
    list-style: none;
    line-height: 1.5;
    height: 300px;
    font-size: 17.5px;
}

#dagboekfoto{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 5px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}